<img src = "images\What-does-a-film-studio-do.jpg">

# Assessing the Commercial viability of a new movie studio for original content creation.

***

## Overview

The project has been undertaken to assess the commercial viablity of setting up a movie studio for original content creation and to determine the most profitable and promising film genre that the studio can create to achieve the objectives of profit maximization,business reputation growth and wealth creation for its shareholders.
***

### Business Problem

<img src = "images\moringa_clips.jpeg" width="300">

Moringa Clips is a web video service company that wants to join the original content creation space and have decided to set up their own movie studio to achieve this.They have no experience in film production.In order to determine what type of films the studio should create, we have to conduct an exploratory data analysis on data collected from various review websites to generate insights that will guide the film production team on the way to go about the new project. 

The target audience of this project is as follows:
* The creative director of the film studio.
* Company shareholders.
* Financial insitutions providing Credit facilities to production companies.
* The finance department of the company.

The key objective questions are as follows:
1. What movie genre generates the highest ratings in box-offices?

2. What is the most profitable genre of films when we compare movie budget to gross income at box office?

3. Does a higher movie budget guarantee a higher box office gross income?

4. Which existing movie studios generate the highest box office gross and what type of movies do they create?
5. Do movie ratings correlate with gross box office numbers?
6. Are movie ratings determined by the movie budget?   
***

## Data Understanding

### The Data

In the folder `data` are movie datasets from:

* [Box Office Mojo](https://www.boxofficemojo.com/)
* [IMDB](https://www.imdb.com/)
* [Rotten Tomatoes](https://www.rottentomatoes.com/)
* [TheMovieDB](https://www.themoviedb.org/)
* [The Numbers](https://www.the-numbers.com/)

Because it was collected from various locations, the different files have different formats. Some are compressed CSV (comma-separated values) or TSV (tab-separated values) and then there is a IMDB database.

The IMDB database Entity Relationship Diagram is as follows:

![movie data erd](https://raw.githubusercontent.com/learn-co-curriculum/dsc-phase-2-project-v3/main/movie_data_erd.jpeg)

### Loading the relevant packages

In [ ]:
# Importing the nessesary libraries
from math import * #Makes basic math operations easier
from itertools import * # Makes grouping within a noebook easier.
from collections import * #To make count operations easier
import sqlite3 # To read into the database
import pandas as pd
import scipy.stats as stats #For statistical operations(Hypothesis testing)
import matplotlib.pyplot as plt# Plotting data
import seaborn as sns
import numpy as np # For numerical operations
import statsmodels.api as sm # For regression equations
plt.style.use('seaborn-v0_8-whitegrid') #Setting the style for the regression plots

%matplotlib inline

### Connecting and reading through `im.db` database.
* For the project we are mostly concerned with the `movie_basics` and `movie_ratings` tables however,as we are working through the analysis we may read through other tables.

In [16]:
#Connecting into the database using SQL Lite
conn = sqlite3.connect("data/im.db")
cursor = conn.cursor()

#Converting the relevant tables into Dataframes
movie_basics = '''SELECT *
                    FROM movie_basics;
                    '''
movie_ratings = '''SELECT *
                    FROM movie_ratings;'''

movie_basics_df = pd.read_sql(movie_basics, conn)
movie_ratings_df = pd.read_sql(movie_ratings, conn)

In [12]:
#Displaying the first 5 rows and the information for movie_basics
print(movie_basics_df.head())

    movie_id                    primary_title              original_title  \
0  tt0063540                        Sunghursh                   Sunghursh
1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

   start_year  runtime_minutes                genres
0        2013            175.0    Action,Crime,Drama
1        2019            114.0       Biography,Drama
2        2018            122.0                 Drama
3        2018              NaN          Comedy,Drama
4        2017             80.0  Comedy,Drama,Fantasy

In [11]:
print(movie_basics_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None

In [9]:
# Displaying the first 5 rows of movie_ratings and the info for movie_ratings.

print(movie_ratings_df.head())

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [10]:
print(movie_ratings_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB
None

### Loading and reading through the movie budget and gross box office movie CSV files.
* This is a nessesary dataset since we are concerned with the commercial viability of building a new studio.

#### The gross box office movie dataframe

In [34]:
# Gross Box Office Revenue
# Loading and reading through the Gross box office movie dataset.

gross_bom = pd.read_csv("data/Bom.movie_gross.csv")

#Displaying the first 5 rows
print(gross_bom.head())

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010

In [25]:
#Displaying the information about the Box Office Gross Revenue
print(gross_bom.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None

#### The movie budget dataframe

In [26]:
#Loading Dataframe and Displaying first 5 rows
movie_budget = pd.read_csv("data/tn.movie_budgets.csv", index_col="id")

print(movie_budget.head())

    release_date                                        movie  \
id
1   Dec 18, 2009                                       Avatar
2   May 20, 2011  Pirates of the Caribbean: On Stranger Tides
3    Jun 7, 2019                                 Dark Phoenix
4    May 1, 2015                      Avengers: Age of Ultron
5   Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

   production_budget domestic_gross worldwide_gross
id
1       $425,000,000   $760,507,625  $2,776,345,279
2       $410,600,000   $241,063,875  $1,045,663,875
3       $350,000,000    $42,762,350    $149,762,350
4       $330,600,000   $459,005,868  $1,403,013,963
5       $317,000,000   $620,181,382  $1,316,721,747

In [27]:
# Displaying information on the dataframe.

print(movie_budget.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB
None

***
### Understanding and describing the data

After previewing the data we can say that:
1. Within the im.db database
    * The primary key for both the `movie_basics` and `movie_ratings` is the `movie_id`
    * The two tables both contain columns with strings,integers and floats
    * Within the `movie_basics` table,there are some missing values in the `original_title`, `runtime_minutes` and `genres` columns.
    * The `movie_ratings` table has no missing values but it has has about a half as many entries as `movie_basics`

2. Within the `gross_bom` and `movie_budget` tables:
    * The some of the columns in the `gross_bom` contain missing values and the `foreign_gross` is set to the wrong datatype
    * The data in the `gross_bom` is only limited from 2010 to 2018
    * The `movie_budget` table contains no missing values however the `production_budget`, `domestic_gross` and `worlwide_gross` columns are of the wrong data type.
***

## Data Preparation

As described above there are various things that are required to prepare the data for analysis:
1. Join the `movie_basics` to the `movie_ratings` column using the `INNER JOIN` method
2. Drop the rows with no runtime.
3. Drop the rows containing missing values in `genres`
4. For the purpose of data modelling we need to drop rows with less than 1000 reviews to avoid skewed data and outliers.This can be done when we combine the `movie_basics` and `movie_ratings` tables
5. Set the correct data types in the `gross_bom` and `movie_budget` columns.
6. Create a column in the `gross_bom` that sums both the domestic and foreign gross columns.
7. Group data after joining the relevant `movie_basics` and `movie_ratings` columns by genre.
***

### 1. Data Cleaning.

* First step is to join the tables in the `im.db` database into a singulat dataframe.

In [ ]:
# Using SQL comprehension.

names

## Data Modelling

## Evaluation

## Conclusions